* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    padding: 20px;
    text-align: center;
    color: #000000;
    background-image: url("space.avif");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

nav {
    display: flex;
    background-color: #d8a47f;
}

nav p {
    padding: 14px 20px;
    text-decoration: none;
}

main {
    display: flex;
}

aside {
    flex: 30%;
    background-image: url(https://t4.ftcdn.net/jpg/02/43/75/73/360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.jpg);
    padding: 20px;
    flex-wrap: wrap;
    display: grid;
    row-gap: 15px;
    grid-auto-rows: 50px;
    grid-template-columns: 1fr;
}

aside h2 {
    text-align: center;
    color: white;
}

aside :nth-child(2) {
    padding-top: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.53);
    display: grid;
    border-radius: 7px;
    box-shadow: 0px 0px 15px 0px #fff;
}

aside :nth-child(3) {
    padding-top: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.53);
    display: grid;
    border-radius: 7px;
    box-shadow: 0px 0px 15px 0px #fff;
}

aside :nth-child(4) {
    color: white;
    background-color: rgba(0, 0, 0, 0.53);
    border-radius: 7px;
    box-shadow: 0px 0px 15px 0px #fff;
}

aside :nth-child(5) {
    color: white;
    background-color: rgba(0, 0, 0, 0.53);
    border-radius: 7px;
    box-shadow: 0px 0px 15px 0px #fff;
}

aside :nth-child(6) {
    color: white;
    background-color: rgba(0, 0, 0, 0.53);
    border-radius: 7px;
    box-shadow: 0px 0px 15px 0px #fff;
}

aside :nth-child(7) {
    color: white;
    background-color: rgba(0, 0, 0, 0.53);
    border-radius: 7px;
    box-shadow: 0px 0px 15px 0px #fff;
}

aside :nth-child(8) {
    color: white;
    background-color: rgba(0, 0, 0, 0.53);
    border-radius: 7px;
    box-shadow: 0px 0px 15px 0px #fff;
}

aside :nth-child(9) {
    color: white;
    background-color: rgba(0, 0, 0, 0.53);
    border-radius: 7px;
    box-shadow: 0px 0px 15px 0px #fff;
}

aside :nth-child(10) {
    color: white;
    background-color: rgba(0, 0, 0, 0.53);
    border-radius: 7px;
    box-shadow: 0px 0px 15px 0px #fff;
}

section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
}

.space-Title {
    font-size: 5em;
    color: white;
}



/* Image Placeholders */
.image-box {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 100px;
    border: 1px solid black;
}

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
        background: #772014;
    }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    nav {
        background-color: #bb8588;
    }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    .sample-img {
        background-color: #8ac4ff;
    }
}